body {
    background: linear-gradient(-45deg, #23658b, #155580, #0f2a52, #000a42);
    background-size: 100000% 100000%;
    animation: gradient 30s ease infinite;
    color: white;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 500%;
    }
    100% {
        background-position: 0% 50%;
    
    }
}
* {
    margin: 0;
}
.logo_intecap{
    width: 300px;
    margin: 20px;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    height: 80px;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 18px;
    padding: 30px 20px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

li a.active, li a:hover {
    background-color: white;
    color: black;
    transition: 0.5;
}
.container {
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
}

.cont-1, .cont-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    background-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 15px;
    padding: 20px;
}

.cont-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 30px;
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    margin: 15px 0;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 5px;
}

.formulario input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    border-bottom: 2px solid white;
    width: 80%;
    margin-top: 40px;
    padding-right: 10px;
    font-size: 16px;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.submit {
    border: none;
    width: 90%;
    margin-top: 15px;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(45deg, rgb(66, 103, 173), rgb(4, 34, 89));
}

.submit:hover {
    background: linear-gradient(45deg, rgb(54, 66, 87), rgb(2, 23, 63));
}

.logo_51 {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 60px 0 60px 0;
}

#respuesta {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-size: 20px;
    height: 100px;
    width: 500px;
    margin-top: 15px;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
}
