* {
    margin: 0;

}

body {
        background: linear-gradient(-45deg, #23658b, #155580, #0f2a52, #000a42);
        background-size: 100000% 100000%;
        animation: gradient 30s ease infinite;
       
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 500%;
    }

    100% {
        background-position: 0% 50%;

    }

}

header {
    height: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    margin: 50px;
    margin-right: 50px;
}

.logointecap{
    width: 300px;
    height: 150px;
}
nav {
    background-color: rgba(0, 0, 0, 0.5);
    height: 80px;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 18px;
    padding: 30px 20px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

li a.active,
li a:hover {
    background-color: white;
    color: black;
    transition: 0.5;
}



#valoresintitucionales {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    font-size: 18px;
    margin: 50px;
    height: auto;
    color: azure;


}

.valoresins {
    width: 80%;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 15px;
    text-align: justify;
    padding: 20px;
    
}

.year{
width: 20%;
height: auto;
padding: auto;
margin: auto;
border: 2px solid rgb(255, 255, 255);
padding: 20px;
border-radius: 15px;
}

.maindiv1
{
width:100%;
display: flex;
column-gap: 20px;
}
.subdiv1
{
padding:5px;
width: 50%;
}
.subdiv2
{
padding: 5px;
width:50%;
}

#botones{
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
}